@import url('main.css');

body {
    padding-bottom: 70px;
}

.box {
    outline: none;
    padding: 1.5%;
    height: 380px;
    overflow: auto;
    background-color: #202020;
    border: 1px solid #f5f5f5;
    color: #fff;

    word-wrap: break-word;
}

#password {
    line-height: 2;
    width: 307px;
    text-align: center;
}

.footer {
    padding-top: 4px;
    background-color: #232323;
    height: 45px;
    color: #fff;
}

.navbar.footer {
    justify-content: center !important;
}

.footer .info-cont {
    padding-left: 15px;
}

.footer .info-tag {
    font-weight: bolder;
}

.footer .info-tag,
.footer .info-val {
    font-size: 12px;
}
