@import url('main.css');

body {
    padding-bottom: 70px;
}

.box {
    outline: none;
    padding: 1.5%;
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #202020;
    border: 1px solid #f5f5f5;
    color: #fff;
    word-wrap: break-word;
}

#output-display {
    height: 340px;
    border: none;
}

#password {
    line-height: 2;
    width: 307px;
    text-align: center;
}

#ciphertext-copied {
    display: none;
    margin-left: 10px;
    padding: 5px 12px;
    background-color: #000000;
    border-radius: 4px;
    color: #fff;
    font-size: 12.5px;
}

.footer {
    padding-top: 4px;
    background-color: #232323;
    height: 45px;
    color: #fff;
}

.navbar.footer {
    justify-content: center !important;
}

.footer .info-cont {
    padding-left: 15px;
}

.footer .info-tag {
    font-weight: bolder;
}

.footer .info-tag,
.footer .info-val {
    font-size: 12px;
}

/********************* Media Queries *********************/
/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .box {
        height: 300px;
    }

    #output-display {
        height: 280px;
    }
}
