@charset "utf-8";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Scroll */
::-webkit-scrollbar {
    width: 1px;
    height: 1.5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #202020;
}
