<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" href="static/vendor/bootstrap-4.5.0-dist/css/bootstrap.min.css" />

        <link rel="stylesheet" href="static/css/index.css" />
        <title>Simple Cipher</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col text-center pt-4 pb-2">
                            <input id="password" type="password" placeholder="Enter Password" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="main-container">
                        <div class="swap-section text-center pt-3 pt-lg-3">
                            <div class="row">
                                <div class="col-5">
                                    <h3 id="input-label">Message</h3>
                                </div>

                                <div class="col-2 pb-3 pl-0 pr-0">
                                    <span id="swap" class="btn btn-dark">
                                        <svg
                                            width="1em"
                                            height="1em"
                                            viewBox="0 0 16 16"
                                            class="bi bi-arrow-left-right"
                                            fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"
                                            />
                                        </svg>
                                    </span>
                                </div>

                                <div class="col-5">
                                    <h3 id="output-label">Ciphertext</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row p-2">
                            <div
                                id="input-box"
                                class="col-12 col-lg-6 box"
                                contenteditable
                                spellcheck="false"
                                data-gramm_editor="false"
                            ></div>
                            <div id="output-box" class="col-12 col-lg-6 box">
                                <div class="row">
                                    <div class="col">
                                        <div style="position: absolute">
                                            <button id="copy-btn" class="btn btn-primary">Copy</button>
                                            <span id="ciphertext-copied"></span>
                                        </div>
                                        <div id="output-display" class="box pt-5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar fixed-bottom footer">
            <span class="info-cont">
                <span class="info-tag">Author:</span>
                <span class="info-val">Mohamed</span>
            </span>

            <span class="info-cont">
                <span class="info-tag">GitHub:</span>
                <span class="info-val">Pure-L0G1C</span>
            </span>
        </div>

        <script src="static/vendor/jquery-3.4.1.min.js"></script>
        <script src="static/vendor/popper.min.js"></script>
        <script src="static/vendor/base64.js"></script>
        <script src="static/vendor/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

        <script src="static/js/badcrypto.js"></script>
        <script src="static/js/index.js" defer></script>
    </body>
</html>
